body {
    font-family: 'Arial', sans-serif;
    background-color: #1718178c;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

h1 {
    color: #fff;
    margin-bottom: 20px;
}

.game-info {
    margin-bottom: 20px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.turn-indicator, .move-counter {
    font-size: 1.2em;
    margin: 5px 0;
    color: #333;
}

#restart-btn {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#restart-btn:hover {
    background-color: #0056b3;
}

#chess-board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    border: 4px solid #333;
    border-radius: 8px;
}

.square {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.square:nth-child(odd) {
    background-color: rgba(57, 126, 63, 0.884);
}

.square:nth-child(even) {
    background-color: rgba(234, 243, 233, 0.897);
}

.square:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.piece {
    width: 80%;
    height: 80%;
    background-size: cover;
}

#game-status {
    margin-top: 20px;
    font-size: 1.2em;
    color: #ff0000;
}